@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* width: 95vw; */
  /* overflow-x: hidden; */
}

body {
  background-color: white;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* Media Queries ================================================================== */
@media (max-width: 800px) {

  .hide-on-mobile {
    display: none;
    background-color: #000000;

  }

  #item-1 {
    display: none;
    background-color: #000000;
  }

  .responsive-hero-title {
    font-size: 48px;
  }

  .grid-item-explore-more {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .responsive-hero-title {
    font-size: 100px;
    text-align: center;
  }
}

/* Navigation bar ================================================================== */

.layout-container {
  background-color: #ef3d3d;
  /* max-width: 1536px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center; */

}


.header-container {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.logo-section {
  background-color: green;
  display: flex;
  border: 2px solid white;
  align-items: center;
}

.navigation {
  /* background-color: rebeccapurple; */
}

.login-cart {
  background-color: #000000;
  display: flex;
  align-items: center;
}

.navigation-section {
  border-radius: 15px;
  /* background-color: #EFF; */
  padding: 15px;
}

.navigation-items-container {
  box-shadow: inset #8080805c 0px 0px 12px 0px;
  display: flex;
  border-radius: 37px;
  justify-content: space-between;
  flex-direction: row;
  background-color: #EFF;
  padding: 17px;

}

.navigation-items {
  /* box-shadow: #80808029 0px 0px 1px 2px; */
  border-radius: 13px;
  background-color: #EFF;
  color: gray;
  /* font-size: 10px; */
  padding: 5px 25px;
  margin: 5px;
  /* font-weight: 500; */
}

.navigation-items:hover {
  background-color: white;
  box-shadow: #8080804d 0px 2px 3px 0px;
  font-weight: bolder;
  cursor: pointer;
}

/* Hero bar ================================================================== */
.hero-container {
  /* background-color: red; */
  width: 1280;
  /* display: flex; */
  /* justify-content: space-between; */

}


.hero-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 10px; */
  width: 100%;

}

@media (max-width: 960px) {
  .hero-grid {
    grid-template-columns: 1fr;
  }
}






.hero-grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;

}

.hero-grid-item-discount {
  background-color: #FFD873;
  padding: 2%;
  /* text-align: center; */
  border-radius: 38px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
  width: 90%;
  height: 305px;
  margin: 0px 45px;
}

.hero-grid-item-scroller {
  background-color: #DFE5F3;
  padding: 5px;
  /* text-align: center; */
  border-radius: 38px;
  display: flex;
  align-items: flex-end;
  /* justify-content: space-around; */
  /* align-content: flex-end; */
  width: 90%;
  height: 300px;
  margin: 0px 45px;


}

.hero-scroller {
  background-color: #DFE5F3;
  padding: 5px;
  /* text-align: center; */
  border-radius: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  /* align-content: flex-end; */
  width: 90%;
  height: 300px;
  margin: 0px 45px;
  position: relative;


}








.hero-top-card {
  background-color: #5C75B8;
  border-radius: 15px;
  color: white;
  /* width: 97%; */
  /* height: 420px; */
  border-radius: 38px;
  /* font-size: 24px; */
  margin: 45px;
  z-index: 4;
}

.hero-button {
  border-radius: 24px;
  padding: 19px;
  width: 150px;
  color: #2e3547;
  background-color: #FFD873;

  font-size: 17px;
  font-weight: 600;
  margin-top: 75px;
}

.hero-button-2 {
  border-radius: 24px;
  padding: 3% 7%;
  width: fit-content;
  color: #2e3547;
  background-color: #ffffff;
  /* font-size: 17px; */
  font-weight: 600;
  /* margin-top: 45px; */
}

#hero-product {
  position: relative;
  top: 15%;
  left: 24%;
  /* background-color: #FFD873; */
  width: 644px;


}

.scroller {
  background-color: #8c8f9c;
  width: 45px;
  height: 6px;
  border-radius: 14px;

}

.scroller-button {
  color: #f1e8e8;
  border-radius: 69%;
  background-color: #8c8f9c;
  width: 25px;
  height: 25px;


}

@media (max-width: 600px) {
  .hero-grid-container {
    grid-template-columns: 1fr;
  }
}

/* Display Card ================================================================== */
.display-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px;
}

.active-display-card {
  border-radius: 24px;
  padding: 29px 105px;
  width: 150px;
  color: #2e3547;
  background-color: #FFD873;

  font-size: 16px;
  font-weight: 600;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-card {
  border-radius: 24px;
  padding: 29px 105px;
  width: 150px;
  color: #2e3547;
  background-color: #F5F5F5;

  font-size: 16px;
  font-weight: 600;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Offer Card ================================================================== */

.product-container {
  overflow: hidden;
  width: 100%;
  padding: 100px;
  background-color: #db7575;

}

/* .scroller {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
} */

.product {
  display: inline-block;
  background-color: #91b881;
  border: 1px solid #ddd;
  padding: 100px;
  margin-right: 10px;
  min-width: 150px;
  /* Adjust as needed */
}







.grid-container {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  /* gap: 10px; */
  height: 50%;
  background-color: red;

}


/* .grid-container>* {
  grid-column: 1/-1;
  grid-row: 1/-1;
}


.grid-container>.grid-item-product-scroller {
  z-index: 1
} */



.grid-item-product-scroller {
  /* background-color: #6E7B9D;  */

  z-index: 2;

}

.grid-item-explore-more {
  /* background-color: #F986DC; */
  padding: 15px;
  width: 33%;
  /* float: left; */
  position: relative;
  left: 54%;
}


.grid-item-discount {
  /* background-color: #  D959AB;  */
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 5;
}


.grid-item-top-card {
  /* background-color: #393030; */
  padding: 20px;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 1/1;
  /* border: 1px solid #ddd; */
}






@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Change to one column for small screens */
  }
}












.angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  gap: 10px;
  /* height: 100%; */
  /* background-color: red; */

}

#item-0 {

  /* background-color: #A5798D; */
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 5;
  z-index: 2;

}

#item-1 {

  /* background-color: #B65DAB; */
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 3;
  width: 800px;

}

#item-2 {

  /* background-color: #DF57D9; */
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 5;

}

/* Daily Offer ================================================================== */






.angry-grid-1 {
  background-color: red;
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
  width: 100vw;

}

#item-0-1 {

  background-color: #5E9D56;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;

}

#item-1-1 {

  background-color: #E9B6D5;
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;

}

@media (max-width: 800px) {

  #item-1-1 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;

  }
}


#item-2-1 {

  background-color: #7B999B;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;

}
@media (max-width: 600px) {

}
.daily-Offer-Product {
  display: flex;
  width: 49%;
  justify-content: space-evenly;
  width: 45%;
}


.dailyOffer-card-container {
  /* background-color: lightcoral; */
  /* width: 80vw; */
  display: flex;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap; */

}

.dailyOffer-info {
  background-color: white;
  padding: 5%;
  width: 50%
}

@media screen and (max-width: 768px) {
  .dailyOffer-info {
    width: 100%;
    padding: 5%;

    /* flex-basis: calc(50.33% - 20px); */
  }

  .dailyOffer-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .daily-Offer-Product{
    width:100%
  }

  /* .responsive-centering {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

  } */
}

@media screen and (min-width: 768px) {
  .dailyOffer-info {
    /* flex-basis: 100%; */

  }

}

@media screen and (max-width: 650px) {

  .dailyOffer-product-container {
    /* flex-basis: 100%; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* background-color: rgb(71, 56, 56); */
    margin: auto;
    /* padding: 0px 45px */
  }
}

.dailyOffer-product-container {
  /* background-color: blueviolet; */
  display: flex;
  /* align-content: space-evenly; */
  /* justify-content: space-evenly; */
  /* flex-direction: column; */
  /* flex-grow: 2; */
  /* width: 100%; */
}


.dailyOffer-product {
  background-color: #DFE5F3;
  /* width: 300px; */
  height: 81%;
  border-radius: 8%;
  margin-right: 2%;
  align-self: center;

}

.dailyOffer-product-1 {
  background-color: #FDEDD6;
  width: 300px;
  /* height: 400px; */
  height: 91%;
  border-radius: 8%;
  margin-top: 10%;
}





.discount-circle {
  width: 76px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;

  /* padding: 11%; */
}

.image-container {
  /* margin-left: auto;
  margin-right: auto;
  display: block; */
  margin: 10%;

}

/* PromotionalDisplay  ====================== */
.PromotionalDisplay-container {
  /* background-color: #342d2d; */
  display: flex;
  align-content: space-around;
  justify-content: space-around;



}

.PromotionalDisplay-description {
  background-color: #d7c9c9;
  width: 61%;
  padding: 10%;
}

@media screen and (max-width: 768px) {
  .PromotionalDisplay-container {
    flex-direction: column;


  }

  .PromotionalDisplay-product {
    margin: auto;
  }

  .PromotionalDisplay-description {
    margin: auto;
    width: 100%;

  }

}



/* ====================== */

.latest-arrivals-container {
  /* background-color: #d7c9c9; */
  /* width: 61%; */
  /* padding: 10%; */
}

.latest-arrivals-heading-container {
  /* background-color: #75d797; */
  padding: 1% 4%;



}

@media screen and (max-width: 768px) {
  .latest-arrivals-container {
    flex-direction: column;


  }
}



/* Add this CSS to your stylesheet or use a styled-component */

/* Add this CSS to your stylesheet or use a styled-component */

.horizontal-scroll-container {

  /* Prevent content from wrapping to the next line */
  border: 1px solid #ccc;
  display: flex;
}

@media screen and (max-width: 768px) {
  .horizontal-scroll-container {
    padding: 5%;
    background-color: #ff6060;
    overflow: auto;
    white-space: nowrap;
  }
}


.horizontal-scroll-content {
  /* width: 54%; */
  background-color: #F5F5F5;
  border-radius: 16px;
  margin-right: 1%;
  width: 150px;
}

/* .horizontal-scroll-content>p {
  font-size: 1.4vw
} */

.productDisplayCarouselImage {
  height: 100%;
}




@media screen and (max-width: 768px) {
  .productDisplayCarouselImage {
    max-width: 100%;
  }


  .horizontal-scroll-content {
    /* max-height: 220px; */
  }
}



.product-discount-circle {
  /* width: 78px; */
  padding: 2px 10px;
  /* height: 39px; */
  border-radius: 14px;
  background-color: #FFD673;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}

.open-store-btn {
  /* width: 78px; */
  height: 39px;
  border-radius: 25px;
  border: none;
  background-color: #FFD673;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
}

/* news-letter ====================== */
.news-letter-container {
  background-color: #7bb6ea;
  margin: auto;
  padding: 125px;
}

.news-letter-input {
  padding: 13px;
  border-radius: 30px;
  border: 2px solid #5c75b86b;
  margin-right: 15px;
  width: 26%;
}


@media screen and (max-width: 768px) {
  .news-letter-input {
    /* padding: 13px;
    border-radius: 30px;
    border: 2px solid #5c75b86b;
    margin-right: 15px; */
    width: 100%;
  }

}


.news-letter-btn {
  padding: 0px 41px;
  border-radius: 30px;
  background-color: #2D2D2D;
  color: white;
}

/* hurry-up ====================== */
.hurry-up-container {
  background-color: #FFD873;
  border-radius: 18px;
  display: flex;
  align-content: center;
  justify-content: space-around;

}

.hurry-up-btn {
  padding: 11px 41px;
  border-radius: 30px;
  color: #2D2D2D;
  background-color: white;
  border: none;
  font-weight: bold;
  margin-top: 45px;
}



.middleBox {
  width: 90%;
  /* height: 200px; */
  background-color: aliceblue;
}

.responsive-text {
  font-size: 1vw;
}




.demo-grid {
  overflow: auto;
  white-space: nowrap;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  padding: 50px;
}

.demo-grid-item {
  /* background-color: antiquewhite; */
  padding: 3%;
  /* width: 300px; */
  align-items: center;

}

@media screen and (max-width: 768px) {
  .demo-grid {
    /* grid-template-columns: repeat(1, 1fr); */
  }
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}